.modal-download{
    width: 50%;
    background-color: #7EBE68;
    color: white;
    border-radius: 15px;
    border-color: #7EBE68;
    border-width: 2px;
}

.bg-nutritrack{
    background-color: #7EBE68;
}