.home-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-container{
    padding-top: 8%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-block{
    margin-top: 5%;
}

.home-block{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-main {
    margin-inline: 20px;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
}

.button-home {
    margin-inline: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #7EBE68;
    color: white;
}

.button-home:hover {
    background-color: darkgreen;
}

.registerbt{
    background-color: #7EBE68;
    color: white;
}

.registerbt:hover{
    color: black;
}

.loginbt:hover{
    color: #7EBE68;
}

.loginbt {
    background-color: white;
    color: black;
    border: 3px solid black;
}

.logo-main {
    padding-top: 10px;
    width: 450px;
}

.logo-home{
    width: 100px;
}

.text-home{
    text-align: center;
    padding-inline: 18%;
}