@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Light", sans-serif;
}

.lgt-button{
  width: 100%;
  padding: 5px;
  font-size: 15px;
  background-color: #7EBE68;
  color: white;
  border-radius: 5px;
}

.lgt-button:hover {
  background-color: darkgreen;
}

.lgt-block{
  display: flex;
  justify-content: flex-end;
}

.div-lgtbtn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}