.list-foods {
    padding: 20px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #7EBE68;
    color: white;
}

tr:hover {
    background-color: #7EBE68;
    color: white;
}

label, select, button {
    margin: 10px;
}

.pagination{
    text-align: center;
}

.btn-listfood {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #7EBE68;
    color: white;
}

.btn-listfood:hover{
    background-color: gray;
    color: white;
}

.select-listfood {

}