.list-foods {
    padding: 20px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #7EBE68;
    color: white;
}

tr:hover {
    background-color: #7EBE68;
    color: white;
}

label, select, button {
    margin: 10px;
}

.pagination{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin: 10px;
}
