.App-login {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    background-color: #7EBE68;
    color: white;
    width: 20%;
    height: 100%;
    border-radius: 15px;
}

.login{
    font-size: 15px;
    padding-inline: 20px;
}

.label-login{
    font-size: 15px;
}

.input-login{
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}

.login-button{
    margin-top: 10%;
    margin-inline: 0px;
    padding-block: 5px;
    width: 100%;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 30px;
}

.login-button:hover {
    color: #7EBE68;
}

.block-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    padding-top: 10px;
    margin: 0px;
    width: 100px;
    height: auto;
}

.logo-login{
    text-align: center;
    margin-top: 5%;
    display: block;
}

.logo-login p{
    color: #7EBE68;
    font-weight: normal;
    font-size: 20px;
}

.voltar:hover{
    color: black;
}

.voltar{
    color: #7EBE68;
    font-size: 20px;
}

.voltar-login:hover{
    color: black;
}

.voltar-login{
    color: white;
    font-size: 20px;
}

.txt-center{
    text-align: center;
}