.App {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #7EBE68;
    color: white;
    width: 30%;
    border-radius: 15px;
    border-color: #7EBE68;
    border-width: 2px;
}

.login{
    padding-inline: 20px;
}

.label-login{
    font-size: 15px;
}

.block-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 0;
    width: 100px;
    height: auto;
}

.logo-login p{
    color: #7EBE68;
    font-weight: normal;
    font-size: 20px;
}

.voltar:hover{
    color: black;
}

.voltar{
    color: #7EBE68;
    font-size: 20px;
    padding: 5px;
}

.voltar-login:hover{
    color: black;
}

.voltar-login{
    color: white;
    font-size: 20px;
}

.txt-center{
    text-align: center;
}

/* Regras de mídia para telas pequenas */
@media (max-width: 768px) {
    .App-login {
        width: 80%; /* Ajuste para tablets */
        margin: 0 auto;
        padding: 20px;
    }

    .login-button {
        margin-top: 15%;
        font-size: 14px;
    }

    .logo {
        width: 80px; /* Reduzir o tamanho do logo em telas menores */
    }
}

@media (max-width: 480px) {
    .App-login {
        width: 90%; /* Ajuste para smartphones */
        padding: 15px;
    }

    .login-button {
        font-size: 14px;
    }

    .logo-login p {
        font-size: 18px;
    }

    .input-login {
        font-size: 14px;
    }

    .login {
        font-size: 14px;
    }
}