.register-container{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    padding-block: 5px;
    background-color: #7EBE68;
    color: white;
    width: 25%;
    height: 90%;
    border-radius: 15px;
}

.register{
    padding-inline: 20px;
}

.input-register{
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
}

.label-register{
    font-size: 15px;
}

.register-button{
    margin-top: 10px;
    width: 96%;
    margin-inline: 0px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.register-button:hover {
    color: #7EBE68;
}

.logo-register{
    text-align: center;
    display: block;
    margin-top: -20px;
}

.logo-register p{
    color: #7EBE68;
    font-weight: normal;
    font-size: 20px;
}

/* Regras de mídia para tablets */
@media (max-width: 768px) {
    .register-container {
        width: 80%; /* Ajuste para tablets */
        margin: 0 auto;
        padding: 20px;
    }

    .register-button {
        font-size: 14px;
        padding: 8px;
    }

    .logo-register p {
        font-size: 18px;
    }

    .input-register {
        font-size: 14px;
    }
}

/* Regras de mídia para smartphones */
@media (max-width: 480px) {
    .register-container {
        width: 90%; /* Ajuste para smartphones */
        padding: 15px;
    }

    .register-button {
        font-size: 14px;
        padding: 10px;
    }

    .logo-register p {
        font-size: 16px;
    }

    .input-register {
        font-size: 13px;
    }

    .register {
        font-size: 14px;
    }
}